@font-face { 
  font-family: "starwars";
  src: url("~@/fonts/Starjedi.ttf"); 
}

* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#app {
  background-image: url('~@/assets/img/app.background.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.v-footer {
  a {
    color: white;
  }
}